body { background-image: url("browny.jpg");
       background-position: center;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-color: dimgrey;
       background-size: cover;
}
*{
    margin: 0;
    padding: 0;
}body
{
    margin: 0;
    padding: 0;
    background-color:#C47557;
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background:#C47557   ;
        border-radius: 15px ;

}
h1{
    text-align: center;
    color: #130312;
    padding: 20px;
}
label{
    color:gray;
    font-size: 17px;
}